.dropbtn {
  padding: 0.5rem 1rem;
  background-color: var(--secondaryColor);
  color: var(--accentColor);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 0.875rem;
  width: 100%;
}

.dropdown {
  position: relative; 
  display: inline-block;
  width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--secondaryColor);
  width: 100%;
  box-shadow: 0 -0.5rem 1rem 0 rgba(0, 0, 0, 0.2); /* Shadow adjusted upwards */
  z-index: 1;
  bottom: 100%; 
  max-height: 25rem; 
  overflow-y: auto; 
}

.dropdown-content a {
  color: var(--accentColor);
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
  font-size: 0.875rem;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: var(--primary);
  text-decoration: line-through;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.text-cursor {
  cursor: text;
}

.item-text:focus {
  outline: none;
}

.drag-button {
  padding: 0.25rem;
  background-color: var(--accentColor);
  color: var(--primary);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-right: 0.25rem;
}

/* Styles for dragging */
.ListItem li {
  cursor: move;
}

.template-container {
  background-color: var(--primary);
  border-radius: 0.625rem;
  border-color: var(--accentColor);
  border-width: 0.0625rem;
  border-style: solid;
  height:90vh;
  width: 25rem;
  overflow:hidden;
  color: var(--accentColor);
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
}

.add-button,
.toggle-popup-button {
  padding: 0.5rem 1rem;
  background-color: var(--secondaryColor);
  color: var(--accentColor);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 0.875rem;
  margin-right: 0.5rem;
}

.ListContainer {
  display: flex;
  flex-direction: column;
  max-height:80%;
  max-width: 100%;
  overflow-y:auto;
  flex:1;
}

.ListItem {
  padding: 0;
}

.item-container {
  display: flex;
  align-items: center;
}

.item-text {
  margin-left: 3.75%;
  outline: none;
  word-break: break-all;
}

.ListItem li {
  position: relative;
  padding-top: 0px;
  padding-bottom: 0px;
}

.ListItem {
  padding-left:1.25rem;
}

.ListItem,
.RemoveButtonContainer {
  list-style-type: none;
  padding: 0;
}

li {
  list-style-type: none;
  padding-right: 0.625rem;
}

li:hover {
  background-color: grey;
  border-radius: 0.9375rem;
}

.input-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Change to 3 columns */
  gap: 0.625rem; /* Space between items */
  align-items: center; /* Vertically center items */
  justify-items: center; /* Horizontally center items */
  user-select: none; 
}

.boolean-slider {
  display: contents; /* Allows children to participate in the grid layout */
}

.settings {
  max-width: 100%; /* Make settings fully responsive */
  max-height: 1.25rem; /* Adjust as necessary */
}

.title{
  max-width: 100%;
  font-size:1.5625rem;
}

.input-grid > * {
  min-width: 0; /* Prevent overflow */
}